/**
 * Modal style
 */
@use 'vars';

.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000a1;
}

.modal {
    text-align: center;
    background-color: vars.$box-background;
    padding: vars.$magic-number * 2;
    border-radius: vars.$magic-number * 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .content {
        margin-bottom: vars.$magic-number;
    }

    button {
        width: max-content;
    }
}